<div class="header-page">
    <h1>Rincian Laporan</h1>
</div>
<div class="content-page pad-10 mrgn-y-10">
    <div class="box dsp-grid gap-20" style="grid-template-columns: 1.3fr 1fr; height: 100%;">
        <div class="box">
            <div class="box">
                <h3 class="font-size-18 font-weg-700">Judul :</h3>
                <p class="font-size-16 line-heg-26 font-weg-500"><%= rincian.judul %></p>
            </div>
            <span class="mrgn-y-30 dsp-block mrgn-x-10" style="border-bottom: 1px solid var(--third-color);"></span>
            <div class="box">
                <h3 class="font-size-18 font-weg-700">Keterangan :</h3>
                <p class="font-size-16 line-heg-26 font-weg-500" style="white-space: break-spaces;"><%= rincian.keterangan %></p>
            </div>
            <span class="mrgn-y-30 dsp-block mrgn-x-10" style="border-bottom: 1px solid var(--third-color);"></span>
            <div class="box">
                <p class="font-size-16 font-weg-700">Waktu & Tanggal Laporan dibuat</p>
                <div class="box dsp-flex gap-20">
                    <div class="box dsp-flex align-itms-center">
                        <div class="icons8-regular clock"></div><span class="font-size-13 font-weg-500 disabled-text-1" style="margin-left: 4px;"><%= rincian.waktuPengaduan %></span>
                    </div>
                    <div class="box dsp-flex align-itms-center">
                        <div class="icons8-regular calendar"></div><span class="font-size-13 font-weg-500 disabled-text-1" style="margin-left: 4px;"><%= rincian.tanggalPengaduan %></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="viewer-box">
                <div class="main-view no-view">

                </div>
                <div class="box dsp-flex align-itms-center mrgn-10">
                    <div class="icons8-regular document"></div>
                    <p class="font-size-13 font-weg-400 disabled-text-1 mrgn-clear" style="margin-left: 4px;">Terdapat 1 file</p>
                </div>
                <%
                    let classFileLaporan = ` empty-views`;
                    if(rincian.fileUpload){
                        classFileLaporan = "";
                    }
                %>
                <div class="gallery-view<%= classFileLaporan %>">
                    <%
                        const asd2 = rincian.fileUpload.toString().split(".");
                        const fileLapor = asd2[asd2.length - 1].toLowerCase();
                    %>
                    <% if ((fileLapor == "png") || (fileLapor == "jpg") || (fileLapor == "jpeg")) { %>
                        <div class="list" data-filetype="image" data-filesrc="filelaporan/picture/<%= rincian.fileUpload %>">
                            <img src="filelaporan/picture/<%= rincian.fileUpload %>" alt="htr">
                            <div class="parent-dropdown bottom-left">
                                <div class="icon icons8-filled menuvertical cursr-pointer" tabindex="0" data-dpkey="previewlist1,btn-primary" style="filter: brightness(99);"></div>
                                <div class="dropdown-box pad-10" data-dpkey="previewlist1,dropdown"
                                data-dpanim="slide-bottom-on,slide-bottom-off">
                                    <ul class="list-box">
                                        <a class="li disappear" href="filelaporan/picture/<%= rincian.fileUpload %>" download>
                                            <div class="icons8-filled downloadingupdates mrgn-r-6"></div>Unduh
                                        </a>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    <% } else if ((fileLapor == "mp4") || (fileLapor == "mkv")) { %>
                        <div class="list" data-filetype="video" data-filesrc="filelaporan/video/<%= rincian.fileUpload %>">
                            <div class="parent-dropdown bottom-left">
                                <div class="icon icons8-filled menuvertical cursr-pointer" tabindex="0" data-dpkey="previewlist6,btn-primary" style="filter: brightness(99);"></div>
                                <div class="dropdown-box pad-10" data-dpkey="previewlist6,dropdown"
                                data-dpanim="slide-bottom-on,slide-bottom-off">
                                    <ul class="list-box">
                                        <a class="li disappear" href="filelaporan/video/<%= rincian.fileUpload %>" download>
                                            <div class="icons8-filled downloadingupdates mrgn-r-6"></div>Unduh
                                        </a>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-content">
        <a href="/masyarakat/help" class="hyperlink">
            <div class="icons8-filled inquiry"></div>Butuh bantuan?
        </a>
    </div>
</div>